<ion-view class=" " style="background-color: rgb(218, 226, 254);" id="page3" title="Journey Planner">
    <ion-content class="has-header" padding="true">
        <form class="list " id="journeyPlanner-form12">
            <label id="journeyPlanner-input5" class="item item-input plan-journey-from">
                <span class="input-label">From:</span>
                <input placeholder="" class="initGeoSearch" type="text">
            </label>
            <label id="journeyPlanner-input6" class="item item-input plan-journey-to">
                <span class="input-label">To:</span>
                <input placeholder="" type="text">
            </label>
            <label id="journeyPlanner-input7" class="item item-input plan-journey-depart">
                <span class="input-label">Departure time:</span>
                <input placeholder="" type="time">
            </label>
            <label id="journeyPlanner-input8" class="item item-input plan-journey-arrive">
                <span class="input-label">Arrival time:</span>
                <input placeholder="" type="time">
            </label>
        </form>

        <div class="list card">


            <div style="" class="item item-body ">
                <p class=" " style="margin-top:0px;color:#000000;">
                    <strong>List title</strong>
                </p>
                <ion-list class=" " id="journeyPlanner-list2">
                    <ion-item style="" id="journeyPlanner-list-item9" class="item-icon-right  route-result">Route 1
                        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
                    </ion-item>
                    <ion-item style="" id="journeyPlanner-list-item10" class="item-icon-right  route-result">Route 2
                        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
                    </ion-item>
                    <ion-item style="" id="journeyPlanner-list-item11" class="item-icon-right  route-result">Route 3
                        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
                    </ion-item>
                </ion-list>
            </div>
            <div style="" class="item item-body ">
                <div style="margin: 0px; background-color: #387ef5; text-align: center;position:relative; width:100%">
                    <div id="map2" class="map" style="width: 100%; height: 400px; position:relative"></div>
                    <!--                    <div id="map2" class="map" ng-mouseover="disableSideDrag()" ng-mouseleave="enableSideDrag()" style="width: 100%; height: 400px; position:relative"></div>-->
                </div>
            </div>


        </div>
    </ion-content>
</ion-view>
