<ion-view class=" " style="background-color: rgb(218, 226, 254);" id="tabsNav" title="Tabs Controller">
    <ion-tabs style="" id="tabsController-tabs" class="tabs-positive tabs-icon-top ">

        <ion-tab class=" " id="tabsController-tab1" title="Tracking" icon="ion-android-locate" href="#/tabsNav/trackerPage">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>

        <ion-tab class=" " id="tabsController-tab2" title="Journey Planner" icon="ion-arrow-swap" href="#/tabsNav/journeyPage">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
